{% extends "base.html" %}
{% load i18n %}

{% block head_title %} Activation | {{block.super}}{% endblock %}
{%block head_text %}
<!-- jumbotron class adds a coloured container if the default sytle fill -->

{% if title %}
<div class="row">
    <div class= "col-sm-7 push-left">
        <div class="jumbotron">
                <h1> Welcome To Our {{title}} Page </h1>
                <p class="lead" style="text-align:left;"> Thank you for registering</p>
        </div>
    </div>
</div>
{% endif %}
{%endblock  %}


{% block content %}
<p class='lead'>{% trans "Your account is now activated." %}</p>
{% endblock %}
