{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

<!-- Overrides base code block but also Imports the block super -->
{% block head_title %} Register | {{block.super}}{% endblock %}

{%block head_text %}
<!-- jumbotron class adds a coloured container if the default sytle fill -->
{% if title %}
<div class="row">
    <div class= "col-sm-7 push-left">
        <div class="jumbotron">
                <h1> Welcome To Our {{title}} Page </h1>
                <p class="lead" style="text-align:left;"> Registration is free</p>
        </div>
    </div>
</div>
{% endif %}
{%endblock  %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Register for free!</h1>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form|crispy }}

          <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
        </form>
    </div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
</div>
</div>


{% endblock %}
