.text-align-center{ 
  text-align:  center;
}

.jumbotron {
    background-color:#D8052B;
    color: white
}

.btn-primary {
    background-color:#D8052B;
    border-color: #D8052B;
    
}

.btn-primary:hover {
    background-color:black ;
    border-color: black ;
    
}