.text-align-center{ 
  text-align:  center;
}

.jumbotron {
    background-color:rgba(255, 0, 0, 0.74);
    color: white
}

.btn-primary {
    background-color: rgba(255, 0, 0, 0.74);
    border-color: rgba(255, 0, 0, 0.74);
    
}

.btn-primary:hover {
    background-color:black ;
    border-color: black ;
    
}