body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 2px;
  background-color:#D8052B;
  border-color: #D8052B;
  color: #FFF;
}

.navbar-default .navbar-brand{
 color:#FFF;

}

.navbar-default .navbar-brand:hover{
 color:black;

}